@keyframes blink {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
}

.satellite-world-map {
    position: relative;
    margin: 0 auto;
    /* https://en.wikipedia.org/wiki/Equirectangular_projection#/media/File:Blue_Marble_2002.png */
    background-image: url("../images/world-map.png");
    background-size: cover;
    max-width: 512px;
}

.satellite-world-map:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 50%;
}

.satellite-marker {
    box-sizing: border-box;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s linear infinite;
}

.satellite-details-part {
    display: block;
}
